<div class="bannerheader">
  <div class="banner large-banner">Banner</div>
  <div class="side-banners">
    <div class="banner small-banner">Banner</div>
    <div class="banner small-banner">Banner</div>
  </div>
</div>

 
    <h2>หมวดหมู่สินค้า</h2>

    <div class="bannercategory">
        <div class="banner-item">Banner</div>
        <div class="banner-item">Banner</div>
        <div class="banner-item">Banner</div>
        <div class="banner-item">Banner</div>
        <div class="banner-item">Banner</div>
    </div>

  <div class="bannerbestsale2">Banner2</div>
 