<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Application</title>
</head>
<body>
 
    <app-header></app-header>  
    <app-banner></app-banner> 
    <app-product-list></app-product-list> 
    <app-medicine-list></app-medicine-list>
    <app-product-hospital></app-product-hospital>
    <app-product-poppular></app-product-poppular>
    <app-product-monthly></app-product-monthly>
    <app-productnew></app-productnew>
</body>
</html>
