<div class="cardproductsale">
    <div class="banproductsale">
      <h2>สินค้าขายดี</h2>
    </div>
    <div class="product-list">

      <!-- Product Item1 -->
     
      <div class="product-item">
        <div class="discount-badge">-10%</div>

        <div class="wishlist">
          <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
          <button class="view-btn">👁</button>
        </div>

        <div class="product-info">
       
          <div class="tags">
            <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
            <span><i class="bi bi-truck"></i> ส่งฟรี</span>
            <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
          </div>
        </div>

        <div class="product-actions">
          <p> Diclommed 500mg ฟ้า+ขาว </p>
          <div class="buttons">
            <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
            <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
          </div>

        </div>
      </div>




      <!-- Product Item2 -->
      <div class="product-item">
        <div class="discount-badge">-100%</div>
        <div class="wishlist">
          <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
          <button class="view-btn">👁</button>
        </div>
        <div class="product-info">
  
        
            <div class="tags">
              <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
              <span><i class="bi bi-truck"></i> ส่งฟรี</span>
              <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
            </div>
          
        </div>
        <div class="product-actions">
          <p> Diclommed 500mg ฟ้า+ขาว </p>
         

          <div class="buttons">
            <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
            <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
          </div>
        </div>
      </div>

      <!-- Product Item3 -->
      <div class="product-item">
        <div class="discount-badge">-10%</div>
        <div class="wishlist">
          <button class="wishlist-btn">Add to Wishlist<i class="bi bi-heart"></i></button>
          <button class="view-btn">👁</button>
        </div>
        <div class="product-info">
        
          <div class="tags">
            <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
            <span><i class="bi bi-truck"></i> ส่งฟรี</span>
            <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
          </div>
        </div>
        <div class="product-actions">
          <p> Diclommed 500mg ฟ้า+ขาว </p>
          <div class="buttons">
            <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
            <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
          </div>
        </div>
      </div>

      <!-- Product Item4 -->
      <div class="product-item">
        <div class="discount-badge">-10%</div>
        <div class="wishlist">
          <button class="wishlist-btn">Add to Wishlist <i class="bi bi-heart"></i></button>
          <button class="view-btn">👁</button>
        </div>
        <div class="product-info">
          <div class="tags">
            <span><i class="bi bi-hand-thumbs-up"></i> สินค้าแนะนำ</span>
            <span><i class="bi bi-truck"></i> ส่งฟรี</span>
            <span> <i class="bi bi-cart"></i>ส่งด่วนพิเศษ</span>
          </div>
          
          
        </div>
        <div class="product-actions">
          <p> Diclommed 500mg ฟ้า+ขาว </p>
          <div class="buttons">
            <button class="details-btn"><i class="bi bi-file-earmark-text"></i>ดูรายละเอียด</button>
            <button class="add-to-cart-btn"><i class="bi bi-bag"></i>Add to Cart</button>
          </div>

        </div>
      </div>
  
 
    </div>
    <div class="load-more">
      <button class="load-more-btn">เพิ่มเติม ➡️</button>
    </div>
  </div>
  